body{
    background: #9FA44F;
    background: -moz-linear-gradient(left, #9FA44F 0%, #CB8048 45%, #11751F 100%);
    background: -webkit-linear-gradient(left, #9FA44F 0%, #CB8048 45%, #11751F 100%);
    background: linear-gradient(to right, #9FA44F 0%, #CB8048 45%, #11751F 100%);
}